.card{
    background-color: rgb(57, 38, 38);
    box-shadow: 0 0 50px rgb(57, 38, 38);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    color: white;
    margin: 100px;
}

.card img{
    height: 200px;
    border-radius: 20px;
}

p{
    text-align: center;

}